

.style{
    background: #ffffff;
    border-block-color: #222;
    border-radius: 0.5em;
  }
  .box-container{
    background: #d8ef05;
    border-block-color: #222;
    border-radius: 0.5em;
    /* display: flex;
    justify-content: space-between;
    align-items: baseline; */
    
}
.box-container1{
    background: #225922;
    border-block-color: #222;
    border-radius: 0.5em;
    /* display: flex;
    justify-content: space-between;
    align-items: baseline; */
    
}
.box-container2{
    background: #ec0b0b;
    border-block-color: #222;
    border-radius: 0.5em;
    /* display: flex;
    justify-content: space-between;
    align-items: baseline; */
    
}